input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    color: fieldtext !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c2c2c inset !important;
    -webkit-text-fill-color: #fff !important;
}

.select2-container--default .select2-selection--single {
    background-color: #343a40 !important;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.bg-beige{
    background-color: #ebebd3 !important;
}
.bg-naranja{
    background-color: #e5893c !important;
}
.bg-gris{
    background-color: #423e37 !important;
}
.bg-rojo{
    background-color: #c52233 !important;
}
.bg-azul{
    background-color: #2d7dd2 !important;
}
.bg-beige{
    background-color: #ebebd3 !important;
}
.tc-naranja{
    color: #e5893c !important;
}
.tc-gris{
    color: #423e37 !important;
}
.tc-rojo{
    color: #c52233 !important;
}
.tc-azul{
    color: #2d7dd2 !important;
}



