{% load static %}
{% load bootstrap_icons %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
    
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="#productos" class="nav-link px-2 link-body-emphasis">Productos</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Tiendas</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Contacto</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="buscar">
        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Buscar">
      </form>
      <a href="#" class="d-block link-body-emphasis text-decoration-none " data-bs-toggle="modal" data-bs-target="#carritoModal">
        <div class="rounded-circle bg-azul text-light p-2 m-2">    {% bs_icon 'cart' size="1.5em"%}</div>
      </a>
      <div class="dropdown text-end">
        
        <a href="#" class="d-block link-body-emphasis text-decoration-none " data-bs-toggle="dropdown" aria-expanded="false">
          <img src=" {% static 'img/default-user.jpeg' %}" alt="mdo" width="32" height="32" class="rounded-circle">    {% bs_icon 'caret-down-fill' %}
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><a class="dropdown-item" href="{% url 'login' %}">Acceder</a></li>
          <li><a class="dropdown-item" href="#">Registrarse</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
{% include "partials/carrito.html" %}