{% load static %}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'index' %}" class="brand-link">
      <img src="{% static 'img/Logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AppComer</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'img/default-user.jpeg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Antony Botello</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-close">
            <a href="#" class="nav-link ">
              <i class="bi bi-people-fill"></i>
              <p>
                Usuarios
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link" data-url="">
                  <i class="bi bi-person nav-icon"></i>
                  <p>Usuarios</p>
                </a>
                <li class="nav-item">
                  <a href="" class="nav-link" data-url="">
                    <i class="bi bi-person-lines-fill nav-icon"></i>
                    <p>Fichas</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link" data-url="">
                    <i class="bi bi-lightbulb-fill"></i>
                    <p>Proyectos</p>
                  </a>
                </li>
            </ul>
          </li>
          
      
          <li class="nav-item menu-close">
            <a href="#" class="nav-link ">
              <i class="bi bi-megaphone-fill"></i>
              
              <p>
                Actividades
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link" data-url="">
                  <i class="bi bi-emoji-angry-fill"></i>
                  <p>Llamados</p>
                </a>
                
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
     <!-- script para ventana activa -->
  