{% extends 'partials/admin/body.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block contenido %}
  <div class="container-fluid m-4 row">
    {% if perms.comunidad.add_usuario %}
      <div class="rounded card p-3 col-md-3">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-success" type="submit" value="{{ accion }} {{ titulo }}" />
          <a href="{% url 'usuarios' %}" class="btn btn-danger">Cancelar</a>
        </form>
      </div>
    {% endif %}
    <div class="rounded card p-3 mx-4 col-md-8">
      <a href="{% url 'create_group' %}" class="btn btn-warning w-25">Roles</a>
      <!-- Agrega los campos de filtro de fecha en tu HTML -->
      <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
          <tr>
            <td>Minimum date:</td>
            <td>
              <input type="text" id="min" name="min" class="dt-datetime" />
            </td>
          </tr>
          <tr>
            <td>Maximum date:</td>
            <td>
              <input type="text" id="max" name="max" />
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered w-100 display nowrap" id="tabla-usuarios">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Rol</th>
            <th>Tipo de Documento</th>
            <th>Documento</th>
            {% if perms.comunidad.change_usuario %}
            <th>Accion</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
            {% if usuario.estado %}
              <tr>
                <td>
                  <img src="{{ usuario.imagen.url }}" class="img-circle elevation-2" alt="User Image" width="60" />
                </td>
                <td>{{ usuario.primer_nombre }}</td>
                <td>{{ usuario.segundo_nombre }}</td>
                <td>{{ usuario.primer_apellido }}</td>
                <td>{{ usuario.segundo_apellido }}</td>
                <td>{{ usuario.fecha_nacimiento }}</td>
                <td>{{ usuario.user.groups.first }}</td>
                <td>{{ usuario.get_tipo_documento_display }}</td>
                <td>{{ usuario.documento }}</td>
                {% if perms.comunidad.change_usuario %}
                <td>
                  
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ usuario.id }}">{% bs_icon 'trash' %}</button>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop{{ usuario.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Esta seguro de eliminar el {{ titulo }}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">una vez eliminado no hay marcha atras</div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <a href="{% url 'usuario-eliminar' usuario.id %}" class="btn btn-primary">Elimínalo!</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  

                  <a href="{% url 'usuario-editar' usuario.id %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">{% bs_icon 'pencil' %}</a>
                
                </td>
                {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
