{% extends 'partials/admin/body-login.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block contenido %}
  <div class="card card-outline card-primary w-25">
    <div class="card-header text-center">
      <img src="{% static 'img/Logo.png' %}" alt="Logo" class="brand-image img-circle" width="200" style="opacity: .8" />
      <a href="{% url 'index-admin' %}" class="h1"><img src="{% static 'img/Titulo.png' %}" width="200">
      </a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Bienvenido a AppComer</p>
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username }}
          <div class="input-group-append">
            <div class="input-group-text">
                {% bs_icon 'envelope' %}
            </div>
          </div>
          <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
        </div>
        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
                {% bs_icon 'lock-fill' %}
            </div>
          </div>
          <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" />
              <label for="remember">Recordarme</label>
            </div>
          </div>

          <input type="submit" class="btn btn-primary btn-block" value="Ingresar" />
        </div>
      </form>

      <p class="mb-1">
        <a href="{% url 'pass_reset' %}">Olvidé mi contraseña</a>
      </p>
    </div>
  </div>
{% endblock %}
